* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    background: url(assets/bmw.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

body {
    padding: 20px;
    font-family: Arial;
}


/* Center website */

.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}


/* Add padding BETWEEN each column (if you want) */

.row,
.row>.column {
    padding: 8px;
}


/* Create four equal columns that floats next to each other */

.column {
    float: left;
    width: 25%;
}


/* Clear floats after rows */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Content */

.content {
    background-color: white;
    padding: 10px;
}


/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}